<div class="modal fade" [id]="eventTarget" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header header-modal-align">
				<h1 class="fs-5 centralizado" id="exampleModalLabel">{{ modalTarget }}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #btnClose></button>
			</div>
			<div class="modal-body tamanho-maximo">
				<rs-home-shared-spinnerloading [elementoAguardado]="seguidoresOuSeguindos"></rs-home-shared-spinnerloading>
				<div *ngFor="let seguidorOuSeguindo of seguidoresOuSeguindos" class="seguidores">
					<div class="seguidor-info clicavel" (click)="irParaOPerfilDoUsuario(seguidorOuSeguindo.username)">
						<img class="img-perfil" (error)="errorImage($event)"
							src="{{urlApi}}/api/v1/usuarios/{{seguidorOuSeguindo.username}}/imagemDoPerfil">
						<div class="info-user">
							<p class="seguidores-username">{{ seguidorOuSeguindo.username }}</p>
							<p class="menor">{{ seguidorOuSeguindo.nomeCompleto | formatarNomeDoUsuario }}</p>
						</div>
					</div>
					<rs-home-perfil-informacoes-botoesseguir [usuario]="seguidorOuSeguindo"
						[usernameUsuarioAutenticado]="usernameUsuarioAutenticado"></rs-home-perfil-informacoes-botoesseguir>
				</div>
				<p class="text-center mostrar-mais" *ngIf="seguidoresOuSeguindos && !estaBuscandoAlgumSeguidor && !ultimaPagina" (click)="buscarMaisSeguidoresOuSeguindo()">Ver mais</p>
				<rs-home-shared-spinnerloading [elementoAguardado]="!estaBuscandoAlgumSeguidor"></rs-home-shared-spinnerloading>
			</div>
		</div>
	</div>
</div>