<div class="publicacao-section">
	<div class="separator-line"></div>
	<div class="sessao-escolha">
		<button class="selector">Publicações</button>
	</div>
	<div *ngIf="publicacoes.length; else nenhumaPublicacao" class="publicacoes">
		<div class="publication-space" *ngFor="let publicacao of publicacoes">
			<img class="publication-img sombra"
				attr.src="{{urlApi}}/api/v1/usuarios/{{publicacao.dono}}/publicacoes/imagem/{{publicacao.id}}">
			<div class="publicacao-infos sombra">
				<div class="info-curtidas-menu">
					<div class="interacoes-space">
						<rs-curtir-descurtir [publicacao]="publicacao" [publicacoes]="publicacoes">
						</rs-curtir-descurtir>
						<img (click)="buscarComentarios($event, publicacao)" data-bs-toggle="modal"
							data-bs-target="#comentariosUsuarios" class="icon-info-publicacao clicavel"
							src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/cloud_text-256.png">
					</div>
					<img *ngIf="publicacao.dono === usuarioAuthenticadoUsername" class="icon-info-publicacao clicavel"
						data-bs-toggle="dropdown"
						src="https://cdn1.iconfinder.com/data/icons/jumpicon-basic-ui-glyph-1/32/-_Dot-More-Vertical-Menu-256.png">
					<ul class="dropdown-menu">
						<li><a (click)="deletarPublicacao(publicacao.id, publicacao.dono)"
								class="dropdown-item clicavel">Deletar</a></li>
					</ul>
				</div>
				<rs-pessoas-que-curtiram class="pessoas-que-curtiram" [publicacao]="publicacao">
				</rs-pessoas-que-curtiram>
				<div class="div-legenda" *ngIf="publicacao.legenda">
					<p class="publicacao-legenda"><span class="publicacao-dono-username">{{ publicacao.dono }}
						</span>{{publicacao.legenda}}</p>
				</div>
				<p *ngIf="publicacao.comentarios" class="open-comments clicavel"
					(click)="buscarComentarios($event, publicacao)" data-bs-toggle="modal"
					data-bs-target="#comentariosUsuarios">Ver todos os {{publicacao.comentarios}} comentarios</p>
				<rs-comments></rs-comments>
				<p class="publicacao-data">Publicada em: {{publicacao.dataDePublicacao}}</p>
			</div>
		</div>
	</div>
	<ng-template #nenhumaPublicacao>
		<p class="text-center mt-5">Nenhuma publicacao encontrada</p>
	</ng-template>
</div>