<div class="informacoes-body">
	<img class="perfil-imagem" (error)="errorImage($event)"
		src="{{urlApi}}/api/v1/usuarios/{{usuario.username}}/imagemDoPerfil">
	<div class="informacoes-space">
		<div class="informacoes-top">
			<p class="informacoes-username">{{ usuario.username }}</p>
			<button [routerLink]="['/home', 'editarInformacoes']" *ngIf="usernameUsuarioAutenticado === usuario.username" type="button"
				class="btn btn-outline-secondary btn-sm botao-texto">Editar informações</button>
			<rs-botoes-seguir [usuario]="usuario"
				[usernameUsuarioAutenticado]="usernameUsuarioAutenticado"></rs-botoes-seguir>
		</div>
		<div class="informacoes-seguidores">
			<p><span class="fonte-destacada">{{ usuario.publicacoes }}</span> Publicações</p>
			<p data-bs-toggle="modal" data-bs-target="#seguidoresModal" [ngClass]="{'remover-eventos' : !usuario.seguidores}" (click)="buscarSeguidores(usuario.username)"
				class="clicavel"><span
					class="fonte-destacada">{{ usuario.seguidores}}</span> Seguidores</p>
			<p (click)="buscarPessoasQueOUsuarioSegue(usuario.username)"
				[ngClass]="{'remover-eventos' : !usuario.seguindo}" class="clicavel" data-bs-toggle="modal"
				data-bs-target="#seguindoModal"><span class="fonte-destacada">{{
					usuario.seguindo }}</span> Seguindo</p>
		</div>
		<rs-seguidores [usuarioUsername]="usuario.username" [seguidoresSet]="seguidores$ | async">
		</rs-seguidores>
		<rs-seguindo [usuarioUsername]="usuario.username" [seguindoSet]="seguindo$ | async">
		</rs-seguindo>
		<div class="informacao-nome">
			<p class="nome-completo">{{ usuario.nomeCompleto }}</p>
		</div>
	</div>
</div>