@media screen and (max-width: 500px) {
	.botao-texto {
		font-size: 3.8vw;
	}
}

@media screen and (max-width: 350px) {
	.botao-texto {
		font-size: 3.2vw;
	}
}

@media screen and (max-width: 270px) {
	.botao-texto {
		font-size: 2.7vw;
	}
}